<div class="sm:flex sm:items-center">
  <div class="sm:flex-auto">
    <h1 class="text-base font-semibold leading-6 text-gray-900 dark:text-gray-100">New Game</h1>
    <p class="mt-2 text-sm text-gray-700 dark:text-gray-300">Create a new game by filling out the form below.</p>
  </div>
</div>

<div class="mt-8">
  <%= form_with(model: @game, local: true, class: "space-y-6") do |form| %>
    <div>
      <%= form.label :name, class: "block text-sm font-medium leading-6 text-gray-900 dark:text-gray-100" %>
      <%= form.text_field :name, class: "mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 dark:text-gray-100 shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-gray-600 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-orange-600 dark:focus:ring-orange-500 sm:text-sm sm:leading-6 bg-white dark:bg-stone-700" %>
    </div>

    <div>
      <%= form.label :party_type, class: "block text-sm font-medium leading-6 text-gray-900 dark:text-gray-100" %>
      <%= form.select :party_type, options_for_select([['Solo', 'solo'], ['Multiplayer', 'multiplayer']]), {}, class: "mt-2 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 dark:text-gray-100 ring-1 ring-inset ring-gray-300 dark:ring-gray-600 focus:ring-2 focus:ring-orange-600 dark:focus:ring-orange-500 sm:text-sm sm:leading-6 bg-white dark:bg-stone-700" %>
    </div>

    <div>
      <%= form.label :num_letters, "Number of Letters", class: "block text-sm font-medium leading-6 text-gray-900 dark:text-gray-100" %>
      <%= form.number_field :num_letters, in: 3..10, step: 1, class: "mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 dark:text-gray-100 shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-gray-600 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-orange-600 dark:focus:ring-orange-500 sm:text-sm sm:leading-6 bg-white dark:bg-stone-700" %>
    </div>

    <div>
      <%= form.label :num_rounds, "Number of Rounds", class: "block text-sm font-medium leading-6 text-gray-900 dark:text-gray-100" %>
      <%= form.number_field :num_rounds, in: 1..10, step: 1, class: "mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 dark:text-gray-100 shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-gray-600 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-orange-600 dark:focus:ring-orange-500 sm:text-sm sm:leading-6 bg-white dark:bg-stone-700" %>
    </div>

    <div>
      <%= form.label :round_time_limit, "Round Time Limit (seconds)", class: "block text-sm font-medium leading-6 text-gray-900 dark:text-gray-100" %>
      <%= form.select :round_time_limit, 
                      options_for_select([
                        ['1 minute', 60],
                        ['2 minutes', 120],
                        ['5 minutes', 300]
                      ]),
                      {}, 
                      class: "mt-2 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 dark:text-gray-100 ring-1 ring-inset ring-gray-300 dark:ring-gray-600 focus:ring-2 focus:ring-orange-600 dark:focus:ring-orange-500 sm:text-sm sm:leading-6 bg-white dark:bg-stone-700" %>
    </div>

    <%= form.submit "Create Game", class: "rounded-md bg-orange-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-orange-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-600" %>
  <% end %>
</div>
