<!DOCTYPE html>
<html class="h-full bg-gray-100">
  <head>
    <title><%= content_for(:title) || "Word Party" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>



  <body class="h-full">
    <header class="py-4">
      <div class="container mx-auto px-5 flex justify-between items-center">
        <%= link_to "Word Party", root_path, class: "[text-shadow:_2px_2px_0_rgb(0_0_0_/_5%)] text-2xl font-bold bg-gradient-to-tl from-yellow-100 to-red-400 via-teal-400 bg-clip-text text-transparent text-2xl font-bold" %>
        <% if user_signed_in? %>
          <div class="relative" data-controller="dropdown">
            <button class="flex items-center focus:outline-none" data-action="click->dropdown#toggle">
              <span class="inline-block h-8 w-8 overflow-hidden rounded-full bg-gray-100">
                <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
                </svg>
              </span>
              <svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
            </button>
            <div class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg py-1 z-10 hidden" data-dropdown-target="menu">
              <div class="px-4 py-2 text-sm text-gray-700"><%= current_user.email %></div>
              <div class="border-t border-gray-100"></div>
              <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" %>
            </div>
          </div>
        <% else %>
          <%= button_to "Log in", new_user_session_path, method: :get, class: "block w-full px-4 py-2 text-sm text-gray-700 hover:text-blue-100" %>
        <% end %>
      </div>
    </header>
    <main class="container mx-auto mt-8 px-5">
      <%= render 'shared/flash_messages' %>
      <%= yield %>
    </main>
  </body>
</html>

